::-moz-selection {
  background: #1c2541;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #1c2541;
  color: #fff;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
<<<<<<< HEAD
  color: #1c2541;
}

.social__top {
  background-color: #1c2541;
=======
  font-size: 1.6em;
  font-family: "Raleway", sans-serif;
  color: #1c2541;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.75rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2.25rem;
}

a {
  color: #5bc0be;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.fa {
  font-size: 2.1rem;
  text-align: center;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.overlay-dark-90:before {
  background: #1c2541;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(28, 37, 65, 0.9)), color-stop(100%, rgba(11, 19, 43, 0.9)));
  background: -webkit-linear-gradient(-45deg, rgba(28, 37, 65, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: -webkit-linear-gradient(315deg, rgba(28, 37, 65, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: -o-linear-gradient(315deg, rgba(28, 37, 65, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: linear-gradient(135deg, rgba(28, 37, 65, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
}

.header__overlay--overlay-dark-80:before {
  background: #1c2541;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(28, 37, 65, 0.8)), color-stop(100%, rgba(11, 19, 43, 0.8)));
  background: -webkit-linear-gradient(-45deg, rgba(28, 37, 65, 0.8) 0%, rgba(11, 19, 43, 0.8) 100%);
  background: -webkit-linear-gradient(315deg, rgba(28, 37, 65, 0.8) 0%, rgba(11, 19, 43, 0.8) 100%);
  background: -o-linear-gradient(315deg, rgba(28, 37, 65, 0.8) 0%, rgba(11, 19, 43, 0.8) 100%);
  background: linear-gradient(135deg, rgba(28, 37, 65, 0.8) 0%, rgba(11, 19, 43, 0.8) 100%);
}

.overlay-dark-70:before {
  background: #1c2541;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(28, 37, 65, 0.7)), color-stop(100%, rgba(11, 19, 43, 0.7)));
  background: -webkit-linear-gradient(-45deg, rgba(28, 37, 65, 0.7) 0%, rgba(11, 19, 43, 0.7) 100%);
  background: -webkit-linear-gradient(315deg, rgba(28, 37, 65, 0.7) 0%, rgba(11, 19, 43, 0.7) 100%);
  background: -o-linear-gradient(315deg, rgba(28, 37, 65, 0.7) 0%, rgba(11, 19, 43, 0.7) 100%);
  background: linear-gradient(135deg, rgba(28, 37, 65, 0.7) 0%, rgba(11, 19, 43, 0.7) 100%);
}

.overlay-dark-50:before {
  background: #1c2541;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(28, 37, 65, 0.5)), color-stop(100%, rgba(11, 19, 43, 0.5)));
  background: -webkit-linear-gradient(-45deg, rgba(28, 37, 65, 0.5) 0%, rgba(11, 19, 43, 0.5) 100%);
  background: -webkit-linear-gradient(315deg, rgba(28, 37, 65, 0.5) 0%, rgba(11, 19, 43, 0.5) 100%);
  background: -o-linear-gradient(315deg, rgba(28, 37, 65, 0.5) 0%, rgba(11, 19, 43, 0.5) 100%);
  background: linear-gradient(135deg, rgba(28, 37, 65, 0.5) 0%, rgba(11, 19, 43, 0.5) 100%);
}

.overlay-light-90:before {
  background: #6fffe9;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(111, 255, 233, 0.9)), color-stop(100%, rgba(11, 19, 43, 0.9)));
  background: -webkit-linear-gradient(-45deg, rgba(111, 255, 233, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: -o-linear-gradient(-45deg, rgba(111, 255, 233, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: -webkit-linear-gradient(315deg, rgba(111, 255, 233, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: -o-linear-gradient(315deg, rgba(111, 255, 233, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
  background: linear-gradient(135deg, rgba(111, 255, 233, 0.9) 0%, rgba(11, 19, 43, 0.9) 100%);
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header__parallax {
  background: url("../img/demo/header.jpg") 50% 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  margin-top: -20vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

.header__content {
  position: relative;
  z-index: 10;
  color: #fff;
  height: 100vh;
}

/* ---------------------------------------- 
	Logo
---------------------------------------- */
.header__logo {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 20;
}

.header__logo img {
  max-width: 130px;
  max-height: 85px;
}

/* ---------------------------------------- 
	Social Profiles
---------------------------------------- */
.social {
  list-style: none;
}

.social li {
  display: inline-block;
  margin-left: 20px;
  font-size: 2.4rem;
  color: #6fffe9;
}

.social__top {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 20;
}

.social__top .social__icon {
  -webkit-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}

.social__top .social__icon:hover {
  margin-top: -10px;
}

/* ---------------------------------------- 
	Text Rotator  10/27/2020
---------------------------------------- */
.text-rotator {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 10rem;
}

.text-rotator span {
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  clip: rect(0, 0, 100vh, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  padding: 0 10vw;
  line-height: 1;
}

.text-rotator span.active {
  -webkit-transition: all 1.6s ease-in-out;
  -o-transition: all 1.6s ease-in-out;
  transition: all 1.6s ease-in-out;
  opacity: 1;
  clip: rect(0, 100vw, 100vh, 0);
>>>>>>> sass-partials
}

/* ---------------------------------------- 
	Navigation
---------------------------------------- */
.main-nav {
  background: rgba(58, 80, 107, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(58, 80, 107, 0.25);
  z-index: 100;
}

.responsive-menu {
  display: none;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.menu {
  display: block;
  text-align: center;
}

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
  margin: 0 -2px;
}

.menu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 35px 20px;
  display: block;
  color: #fff;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.menu__item:hover > a {
  background: rgba(58, 80, 107, 0.25);
}

.menu__link:hover {
  background: rgba(58, 80, 107, 0.25);
}

/* ---------------------------------------- 
	Section Header
---------------------------------------- */
.section-header__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22fr 1fr;
  grid-template-columns: 1fr 22fr 1fr;
  text-align: center;
  padding: 100px 0 60px;
}

.section-header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.section-header h2 {
  font-size: 10rem;
  line-height: 1;
  margin: 0;
  letter-spacing: -4px;
}

.section-header p, .services-info-content p {
  font-size: 4rem;
  line-height: 1;
  color: #5bc0be;
  margin: 0;
  font-weight: 300;
}

/* ---------------------------------------- 
	Introduction
---------------------------------------- */
.introduction * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

.introduction {
  background: #5bc0be;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #5bc0be), color-stop(100%, #3a506b));
  background: -webkit-linear-gradient(-45deg, #5bc0be 0%, #3a506b 100%);
  background: -o-linear-gradient(-45deg, #5bc0be 0%, #3a506b 100%);
  background: -webkit-linear-gradient(315deg, #5bc0be 0%, #3a506b 100%);
  background: -o-linear-gradient(315deg, #5bc0be 0%, #3a506b 100%);
  background: linear-gradient(135deg, #5bc0be 0%, #3a506b 100%);
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
}

.intro-heading-wrapper {
  width: 50%;
}

.intro-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
}

.intro-heading h2 {
  font-size: 9rem;
  word-spacing: 500px;
  max-width: 500px;
  line-height: 1;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.intro-content-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  color: #fff;
  overflow: hidden;
  z-index: 2;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.intro-content ul {
  list-style: none;
}

.intro-nav {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 100;
}

.intro-nav i {
  display: inline-block;
  font-size: 3rem;
  padding-left: 2rem;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.intro-nav i:hover {
  opacity: .6;
}

.intro-text .fa {
  position: absolute;
  top: 8px;
  left: -75px;
  text-align: right;
  width: 60px;
}

.intro-text header {
  font-size: 5rem;
  border-bottom: 1px solid #5bc0be;
  position: relative;
}

.intro-text li {
  padding-left: 80px;
}

.intro-text h2 {
  font-size: 5rem;
}

.intro-text p {
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */